<div class="modal-background" (click)="closeModal()">
  <div class="modal-content">
    <div class="pokemon-details">
      <div class="title">
        <p>Nome: {{pokemonDetail.name}}</p>  <p> ID: {{pokemonDetail.id}}</p>
      </div>
      <div class="image-card">
        <img [src]="pokemonDetail.sprites.front_default" />
        <div class="type">
          <p>Shiny:</p>
          <img [src]="pokemonDetail.sprites.back_shiny" />
          <img [src]="pokemonDetail.sprites.front_shiny" />
        </div>
      </div>
    </div>  
    <div class="detail">
    
      <div *ngFor="let habilidade of pokemonDetail.abilities">
        <div class="abilidades">
          <p>Abilidades: </p>
          {{habilidade.ability.name}}
       
         {{pokemonDetail.height}}
         {{habilidade.ability.url}}
      </div>
      </div>

    </div>

    
      <img [src]="pokemonDetail.held_items" />
   
  </div>
</div>
