<div class="container">
  <H1>POKEMONS</H1>
  <div class="card-pokemon">
    <div class="container-pokemon">

      <div *ngFor="let poke of results" class="pokemon-card">
        <ul class="ul-pokemon">
          <li *ngFor="let pokemons of pokemon">
            <button >{{ poke.name }}</button>
          </li>
        </ul>
        <div class="pokemon-header">
            <img src={{poke.imageURL}}>
            <h2 class="pokemon-name">{{poke.name}}</h2>
            
          </div>
          
      </div>

    </div>
  </div>
</div>
