<div class="container">
  <div id="divBusca">
    
    <input type="text" id="txtBusca" placeholder="Buscar..."/>
    <button id="btnBusca">Buscar</button>
  </div>
  <div class="card-pokemon">
    <div class="container-pokemon">

      <div *ngFor="let poke of results" class="pokemon-card"routerLink="modal">
        
       
        <div class="pokemon-header" >
            <img src={{poke.imageURL}}>
            <h2 class="pokemon-name">{{poke.name}}</h2>
            
          </div>
          
      </div>

    </div>
  </div>
</div>
